[submodule "Blender/Tutorials/BlenderBros-Hard-Surface-Modeling-Jumpstart"]
	path = Blender/Tutorials/BlenderBros-Hard-Surface-Modeling-Jumpstart
	url = https://github.com/mdotpali/Blender-Hard-Surface-Modeling-Jumpstart
