[submodule "Blender/Tutorials/BlenderBros-Hard-Surface-Modeling-Jumpstart"]
	path = Blender/Tutorials/BlenderBros-Hard-Surface-Modeling-Jumpstart
	url = https://github.com/mdotpali/Blender-Hard-Surface-Modeling-Jumpstart
[submodule "Programming/C#-Unity/CalPad"]
	path = "Programming/C#-Unity/CalPad"
	url = https://github.com/mdotpali/CalPad.git
[submodule "Portfolio/Interactive-Operation-Room"]
	path = Portfolio/Interactive-Operation-Room
	url = https://github.com/mdotpali/Interactive-Operation-Room.git
